
  
  table {
    width: 100%;    background: #fff;
  }
  mat-card{background-color: #fff;}
  .mat-toolbar{
    background: #f3f3f3 !important;
    color:#444 !important;
  }
  .mat-header-cell{
      color:#888 !important;text-transform: uppercase;
  }
  .mat-cell{
    color:#444 !important;
    border-bottom:1px dotted #ddd;
  }
